 <% layout("boilerplate") -%>
 <body>
      <div class="row">
         <div class="col-8 offset-2">
             <h2 class="mt-5">Welcome To Trendify</h2><br>
             <form method="POST" action="/login" novalidate class="needs-validation">
                 <div class="mb-3">
                       <label for="name" class="form-label">Name</label>
                       <input type="text" placeholder="Enter your name" name="user[name]" class="form-control"  id ="name" required>
                       <p id="nameErrMsg" class="err-msg"></p>
                       <div class="valid-feedback">looks good</div>
                       <div class="invalid-feedback">Please enter a valid name</div>
                 </div>
                 <!-- name format:: it will form a object listing with title,.. as keys -->
                 <div class="mb-3">
                       <label for="email" class="form-label">Email</label>
                       <input type="email" name="user[email]" placeholder="enter email" class="form-control" id="email" required>
                       <p id="emailErrMsg" class="err-msg"></p>
                       <div class="valid-feedback">looks good</div>
                       <div class="invalid-feedback">Please enter a valid email</div>
                 </div>
                 <div class="mb-3">
                       <label for="password" class="form-label">Password</label>
                       <input type="password" placeholder="enter ur password" name="user[password]" class="form-control" id="password" required>
                       <p id="passwordErrMsg" class="err-msg"></p>
                       <div class="valid-feedback">looks good</div>
                       <div class="invalid-feedback">Please enter a valid password</div>
                 </div>
                 <div class="mb-3">
                    <label for="mbno" class="form-label">Mobile No</label>
                    <input type="text" placeholder="xxxxxxxxxx" name="user[mobile_no]" class="form-control" id="mbno"  required>
                    <p id="mbnoErrMsg" class="err-msg"></p>
                    <div class="valid-feedback"> looks good</div>
                    <div class="invalid-feedback">Please enter a valid mobile number</div>
                 </div>
                 <div class="row">
                     <div class="mb-3 col-md-4">
                         <label for="city" class="form-label" >City</label>
                         <input type="text" placeholder="Vizag" name="user[city]" class="form-control" id="city" required>
                         <p id="cityErrMsg" class="err-msg"></p>
                         <div class="valid-feedback">looks good</div>
                         <div class="invalid-feedback">Please enter a valid City name</div>
                    </div>
                    <div class="mb-3 col-md-8">
                         <label for="pincode" class="form-label">Pincode</label>
                         <input type="text" placeholder="enter your city pincode" name="user[pincode]" class="form-control" id="pincode"  required>
                         <p id="pincodeErrMsg" class="err-msg"></p>
                         <div class="valid-feedback">looks good</div>
                         <div class="invalid-feedback">Please enter a valid  pincode</div>
                    </div>
                 </div>
                 <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <input type="text" placeholder="Andhra Pradesh" name="user[state]" class="form-control" id="state" required>
                    <p id="stateErrMsg" class="err-msg"></p>
                    <div class="valid-feedback">Country looks good</div>
                    <div class="invalid-feedback">Please enter a valid State name</div>
                 </div>
                  <div class="mb-3">
                       <label for="country" class="form-label">Country</label>
                       <input type="text" placeholder="India" name="user[country]" class="form-control" id="country" required>
                       <p id="countryErrMsg" class="err-msg"></p>
                       <div class="valid-feedback">Country looks good</div>
                       <div class="invalid-feedback">Please enter a valid Country</div>
                  </div>
                  <br><br>
                 <div class="mb3">
                        <button class="btn back button" id="login">signup</button> 
      
                 </div>
                 <br><br><br><br>
           </form>
         </div>
      </div>
 </body>
 

          







